@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
  text-align: center;
}

body {
  background: #f8f8f8;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #00ff40;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-top {
  margin: 10px;
}

.icon-top,
.icon-bottom {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.icon-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-middle__left,
.icon-middle__right {
  display: flex;
  flex-direction: column;
  height: 360;
  justify-content: space-between;
}

.uploader {
  display: block;
  clear: both;
  margin: 0;
  width: 100%;
  max-width: 600px;
}

.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uploader label:hover {
  border-color: #3ba81a;
}

.uploader label.hover {
  border: 3px solid #3ba81a;
  box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #start.hidden {
  display: none;
}

.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #response.hidden {
  display: none;
}

.uploader #response #messages {
  margin-bottom: 0.5rem;
}

.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}

.uploader #file-image.hidden {
  display: none;
}

.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.uploader #notimage.hidden {
  display: none;
}

.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}

.uploader input[type="file"] {
  display: none;
}

.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}

.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #3ba81a;
  border-color: #3ba81a;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
  height: 36px;
  line-height: 36px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-preview {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  margin-bottom: 1em;
}

.img-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: 256px 256px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.upload-label {
  display: inline-block;
  padding: 12px 30px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.upload-label:hover {
  background: #34495E;
  color: #39D2B4;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dataDisplay {
  display: flex;
  flex-flow: row wrap;
  gap: 1.2em;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.recipe-container {
  flex-basis: calc(18%);
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 16px 14px;
  background: #fff;
  transition: 0.4s;
}

.recipe-container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transform: translateY(-6px);
}

.recipe-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.recipe-container img:hover  {
  cursor: pointer;
}

.recipe-container p {
  margin-bottom: 8px;
}

.recipe-container-detail {
  width: 100%;
  height: 100%;
}

.recipe-container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.recipe-container-container {
  display: flex;
  align-items: flex-start;
  margin: 15px;
  flex-direction: column;
}

.recipe-container-container h2 {
  color: black;
  margin-block-end: 10px;
}

.recipe-container-container p {
  font-size: 22px;
}

.summary-text {
  text-align: start;
  font-size: 22px;
}

.summary-text a {
  font-size: 22px;
}

.summary-text b {
  font-size: 22px;
}

.navbar {
  background-image: url("https://cdn.pixabay.com/photo/2022/04/30/19/12/cooking-banner-7166200_1280.jpg");
  background-size: cover;
  background-position: center;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.header {
  /* CSS cho div header */
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  /* Bo tròn div header */
  width: 300px;
  /* Chiều rộng cố định của div header */
  height: 300px;
  /* Chiều cao cố định của div header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#file-drag {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#result {
  margin: 20px;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.post-it {
 	width:400px;
  height:100%;
  position:relative;
  background:#ffa;
  overflow:hidden;
  margin:30px auto;
  padding:20px;
  border-radius:0 0 0 30px/45px;
  box-shadow:
    inset 0 -40px 40px rgba(0,0,0,0.2),
    inset 0 25px 10px rgba(0,0,0,0.2),
    0 5px 6px 5px rgba(0,0,0,0.2);
  font-family: 'Permanent Marker', cursive;
  line-height:1.7em;
  font-size:19px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  color:#130d6b;
}

.post-it ul {
  list-style-type: none; /* Loại bỏ ký tự list mặc định */
  padding: 0; /* Loại bỏ padding mặc định của danh sách */
}

.post-it li {
  position: relative;
  padding-left: 20px; /* Tạo khoảng cách giữa nội dung và dấu checked */
  margin-bottom: 8px; /* Khoảng cách giữa các mục danh sách */
}

.post-it li::before {
  content: '\2713'; /* Ký tự dấu checked Unicode */
  color: #130d6b; /* Màu của ký tự */
  font-size: 22px; /* Kích thước của ký tự */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px; /* Khoảng cách giữa ký tự và nội dung */
}

.post-it li::after {
  font-size: 22px;
}

.post-it:before {
 	content:"";
  display:block;
  position:absolute;
  width:20px;
  height:25px;
  background:#ffa;
  box-shadow:
    3px -2px 10px rgba(0,0,0,0.2),
    inset 15px -15px 15px rgba(0,0,0,0.3);
  left:0;
  bottom:0;
  z-index:2;
  transform:skewX(25deg);
}

.post-it:after {
 	content:"";
  display:block;
  position:absolute;
  width:75%;
  height:20px; 
  border-top:3px solid #130d6b;
  border-radius: 50% ;
  bottom:0px;
  left:10%;
}

.stepper {
  .line {
    width: 2px;
    background-color: lightgrey !important;
  }
  .lead {
    font-size: 1.4rem;
    text-align: left;
  }
  .d-flex:last-child .line {
    display: none;
  }
}

/* styles.css */

#cookButton, #reset {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

#cookButton:hover, #reset:hover {
  background-color: #45a049; 
}
