{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="container-top">
    <div class="icon-top">
      <h2>🍞</h2>
      <h2>🥐</h2>
      <h2>🥖</h2>
      <h2>🫓</h2>
      <h2>🥨</h2>
      <h2>🥯</h2>
      <h2>🥞</h2>
      <h2>🧇</h2>
      <h2>🧀</h2>
      <h2>🍖</h2>
    </div>
    <div class="icon-middle">
      <div class="icon-middle__left">
        <h2>🍟</h2>
        <h2>🍕</h2>
        <h2>🌭</h2>
        <h2>🥪</h2>
        <h2>🍳</h2>
        <h2>🧆</h2>
        <h2>🥚</h2>
        <h2>🥩</h2>
      </div>
      <form id="upload-file" class="uploader" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
        <label for="imageUpload" id="file-drag" style=""> 
          <div class="image-section" style="display: none">
            <div class="img-preview">
              <div id="imagePreview" >
              </div>
            </div>
            <div>
              <button type="button" class="btn" id="btn-predict">
                Predict Food
              </button>
            </div>
            <div class="loader" style="display: none"></div>
          </div>
          <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Select a file or drag here</div>
            <div id="notimage" class="hidden">Please select an image</div>
            <span id="file-upload-btn" class="btn">
              Select a file
            </span>
          </div>
        </label>
      </form>
      <div class="icon-middle__right"> 
        <h2>🍗</h2>
        <h2>🌮</h2>
        <h2>🌯</h2>
        <h2>🫔</h2>
        <h2>🥙</h2>
        <h2>🥓</h2>
        <h2>🍔</h2>
        <h2>🍙</h2>
      </div>
    </div>
    <div class="icon-bottom">
      <h2>🍞</h2>
      <h2>🥘</h2>
      <h2>🍲</h2>
      <h2>🫕</h2>
      <h2>🥣</h2>
      <h2>🥗</h2>
      <h2>🍿</h2>
      <h2>🧈</h2>
      <h2>🧂</h2>
      <h2>🥫</h2>
      <h2>🍝</h2>
    </div>
  </div>
    <h3 id="result">
      <span></span>
    </h3>
    <div id="dataDisplay"></div>
    <div id="resultDisplay"></div>
  </div>
  {% endblock %}
</div>

<h2 class="icons">
  🍞 🥐 🥖 🫓 🥨 🥯 🥞 🧇 🧀 🍖 
  🍗 🌮 🌯 🫔 🥙 🧆 🥚 🥩 🥓 🍔 
  🍟 🍕 🌭 🥪 🍳
  🥘 🍲 🫕 🥣 🥗 🍿 🧈 🧂 🥫 🍝
</h2>